{% extends 'base.html.twig' %}

{% block title %}Contents index{% endblock %}

{% block body %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prewiew_img</th>
                <th>Title</th>
                <th>Type</th>
                <th>Src</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for content in contents %}
            <tr>
                <td>{{ content.id }}</td>
                {% if content.prewiewImg %}
                    <img  src="{{ asset(content.prewiewImg ) }}">

                {% endif %}
                <td>{{ content.title }}</td>
                <td>{{ content.type }}</td>
                <td>{{ content.src }}</td>
                <td>{{ content.content }}</td>
                <td>{{ content.createdAt ? content.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ content.updatedAt ? content.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('front_contents_show', {'id': content.id}) }}">show</a>
                    <a href="{{ path('back_contents_edit', {'id': content.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('back_contents_new') }}">Create new</a>
{% endblock %}
