{% extends 'base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    {% embed '/components/back_office_header_and_menu.html.twig' with {'active': 'users'} %}
        {% block content %}
            <div class="flex-grow">
                {{ include('/components/sub_header.html.twig', {
                    title:'Utilisateur',
                    text:'Vous pouvez trouvez ici les information de cet utilisateur',
                    deleteForm:'back/users/_delete_form.html.twig',
                }) }}

                <table class="table">
                    <tbody>
                    <tr class="flex flex-col gap-2 items-start mb-8">
                        <th class="title-sm">Nom Prénom</th>
                        <td>{{ user.firstname ~ ' ' ~ user.lastname }}</td>
                        <th class="title-sm">Email</th>
                        <td>{{ user.email }}</td>
                        <th class="title-sm">Rôles</th>
                        <td>
                            {% for role in user.roles %}
                                {% if role != 'ROLE_USER' %}
                                    {{ include('/components/category_label.html.twig', { value:role | replace({'ROLE_': ''}), variant:'blue' }) }}

                                {% endif %}
                            {% endfor %}
                        </td>
                        <th class="title-sm">Nombre de sauvegardes</th>
                        <td>{{ user.favorites|length }}</td>
                        {% if 'ROLE_CLIENT' in user.roles %}
                            <th class="title-sm">Intérêts</th>
                            <td class="flex gap-5 flex-wrap">
                                {% for categorie in user.categories %}
                                    {{ include('/components/filter.html.twig', { category:categorie, clicked:true }) }}
                                {% endfor %}
                            </td>
                        {% endif %}
                    </tr>
                    </tbody>
                </table>

            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}