<div class="container flex flex-col gap-24 max-md:gap-16">
    <div class="flex gap-40">
        <div class="flex flex-col gap-10 min-w-[200px] {{ app.request.attributes.get('_route') == 'back_default_index' ? 'max-md:w-full' : 'max-md:hidden' }}">
            <div class="flex flex-col gap-5">
                <div class="flex flex-col gap-5">
                    {{ include('/components/button_menu.html.twig', {
                        path:'back_contents_index',
                        icon:'book-open',
                        iconSize:'22',
                        name:'Contenus',
                        active: active == 'contents' ? true : false
                    }) }}
                    {{ include('/components/button_menu.html.twig', {
                        path:'back_categories_index',
                        icon:'filter',
                        iconSize:'22',
                        name:'Catégories',
                        active: active == 'categories' ? true : false
                    }) }}
                    {{ include('/components/button_menu.html.twig', {
                        path:'back_offers_index',
                        icon:'package',
                        iconSize:'22',
                        name:'Offres',
                        active: active == 'offers' ? true : false
                    }) }}
                    {{ include('/components/button_menu.html.twig', {
                        path:'back_users_index',
                        icon:'users',
                        iconSize:'22',
                        name:'Utilisateurs',
                        active: active == 'users' ? true : false
                    }) }}
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</div>